<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <servlet>
		<servlet-name>ServletConnexion</servlet-name>
		<servlet-class>com.sdzee.services.Connexion</servlet-class>
  	</servlet>

  	<servlet-mapping>
		<servlet-name>ServletConnexion</servlet-name>
		<url-pattern>/connexion</url-pattern> 
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletDeconnexion</servlet-name>
		<servlet-class>com.sdzee.services.Deconnexion</servlet-class>
  	</servlet>

  	<servlet-mapping>
		<servlet-name>ServletDeconnexion</servlet-name>
		<url-pattern>/deconnexion</url-pattern> 
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletInscription</servlet-name>
		<servlet-class>com.sdzee.services.Inscription</servlet-class>
  	</servlet>

  	<servlet-mapping>
		<servlet-name>ServletInscription</servlet-name>
		<url-pattern>/inscription</url-pattern> 
	</servlet-mapping>
	
</web-app>