<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
  <servlet>
		<servlet-name>ServletConnexion</servlet-name>
		<servlet-class>com.sdzee.services.Connexion</servlet-class>
  	</servlet>

  	<servlet-mapping>
		<servlet-name>ServletConnexion</servlet-name>
		<url-pattern>/connexion</url-pattern> 
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletDeconnexion</servlet-name>
		<servlet-class>com.sdzee.services.Deconnexion</servlet-class>
  	</servlet>

  	<servlet-mapping>
		<servlet-name>ServletDeconnexion</servlet-name>
		<url-pattern>/deconnexion</url-pattern> 
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletMdp_oublie</servlet-name>
		<servlet-class>com.sdzee.services.Mdp_oublie</servlet-class>
  	</servlet>

  	<servlet-mapping>
		<servlet-name>ServletMdp_oublie</servlet-name>
		<url-pattern>/mdpoublie</url-pattern> 
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletEnvoiBDD</servlet-name>
		<servlet-class>com.sdzee.services.EnvoiBDD</servlet-class>
  	</servlet>
  	
	<servlet-mapping>
		<servlet-name>ServletEnvoiBDD</servlet-name>
		<url-pattern>/EnvoiBDD</url-pattern> 
	</servlet-mapping>
	
	
	 <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
    
</web-app>